@using Microsoft.AspNetCore.Components.Authorization

<div class="sidebar-logo-box">
    <img src="granaok-logo.svg" alt="Logo GranaOK" class="sidebar-logo" />
</div>

<div class="sidebar-title">Controle Financeiro Inteligente</div>

<nav class="sidebar-nav">
    <AuthorizeView>
        <NotAuthorized>
            <NavLink class="menu-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
            <NavLink class="menu-link" href="/login">Login</NavLink>
        </NotAuthorized>
        <Authorized>
            <NavLink class="menu-link" href="/dashboard">Dashboard</NavLink>
            <NavLink class="menu-link" href="/lancamentos">Lançamentos</NavLink>
            <NavLink class="menu-link" href="/lancamentos/novo">Novo lançamento</NavLink>
            <NavLink class="menu-link" href="/ia">IA</NavLink>
            <NavLink class="menu-link" href="/investimentos">Investimentos</NavLink>
            <NavLink class="menu-link" href="/perfil/assinatura">Minha assinatura</NavLink>
            <NavLink class="menu-link" href="/contas">Contas</NavLink>
            <NavLink class="menu-link" href="/categorias">Categorias</NavLink>
            <NavLink class="menu-link" href="/pessoas">Pessoas</NavLink>
            <NavLink class="menu-link" href="/bancos">Bancos</NavLink>
        </Authorized>
    </AuthorizeView>
</nav>
