<div class="p-3 border-bottom border-primary-subtle">
    <img src="granaok-logo.svg" alt="Logo GranaOK" class="img-fluid" style="max-width: 140px;" />
</div>

<nav class="nav nav-pills flex-column gap-2 p-3 small">
    <NavLink class="nav-link text-white" href="" Match="NavLinkMatch.All"><i class="bi bi-house me-2"></i>Dashboard</NavLink>
    <NavLink class="nav-link text-white" href="lancamentos"><i class="bi bi-card-list me-2"></i>Lançamentos</NavLink>
    <NavLink class="nav-link text-white" href="lancamentos/novo"><i class="bi bi-plus-square me-2"></i>Novo</NavLink>
    <NavLink class="nav-link text-white" href="cadastros"><i class="bi bi-grid me-2"></i>Categorias</NavLink>
</nav>
