<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="context">
        <RouteView RouteData="context" DefaultLayout="typeof(Components.Layout.MainLayout)" />
        <FocusOnNavigate RouteData="context" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(Components.Layout.MainLayout)">
            <p>Página não encontrada.</p>
        </LayoutView>
    </NotFound>
</Router>
