@using Microsoft.AspNetCore.Components.Routing
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/MudBlazor/MudBlazor.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="FinanceiroPessoal.Web.styles.css" />
    <HeadOutlet />
</head>

<body>
    <Router AppAssembly="typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="typeof(Components.Layout.MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(Components.Layout.MainLayout)">
                <p>Página não encontrada.</p>
            </LayoutView>
        </NotFound>
    </Router>

    <script src="_content/Blazor-ApexCharts/js/apexcharts.min.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
