<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="false"
        android:usesCleartextTraffic="false"
        android:label="GranaOk Beta"
        android:icon="@drawable/granaok_icon"
        android:roundIcon="@drawable/granaok_icon"
        android:theme="@style/AppTheme">

        <service
            android:name=".DbWorkerService"
            android:exported="false"
            android:process=":mysql" />

        <service
            android:name=".FinanceWorkerService"
            android:exported="false"
            android:process=":mysql" />

        <service
            android:name=".FinanceExtrasService"
            android:exported="false"
            android:process=":mysql" />

        <activity
            android:name=".MainActivityV037"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
