<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="false"
        android:usesCleartextTraffic="false"
        android:label="GranaOk Beta"
        android:icon="@drawable/granaok_icon"
        android:roundIcon="@drawable/granaok_icon"
        android:theme="@style/AppTheme">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".DbWorkerService"
            android:exported="false"
            android:process=":mysql" />

        <service
            android:name=".FinanceWorkerService"
            android:exported="false"
            android:process=":mysql" />

        <service
            android:name=".FinanceExtrasService"
            android:exported="false"
            android:process=":mysql" />

        <service
            android:name=".PlanningService"
            android:exported="false"
            android:process=":mysql" />

        <service
            android:name=".FinanceManageService"
            android:exported="false"
            android:process=":mysql" />

        <service
            android:name=".ImportFinanceService"
            android:exported="false"
            android:process=":mysql" />

        <service
            android:name=".InvestmentRadarService"
            android:exported="false"
            android:process=":radar" />

        <activity
            android:name=".MainActivityV040"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
